@import "tailwindcss";
@import "tw-animate-css";

body{
  background-color: #f7feff;
  /* color: #cde7ea; */
}

.recharts-wrapper *:focus {
  outline: none;
}

@font-face {
  font-family: urbanist;
  src: url('/fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: amaranth; 
  src: url('/fonts/Amaranth-Bold.ttf') format('truetype');
}

@theme {
  --color-backgroundWhite: #f7feff;
  --color-customDarkBlue: #003049;
  --color-card: #e0fbff;
  --color-cardBorder: #cde7ea;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-urbanist: urbanist;
  --font-amaranth: amaranth;
}
