@import "tailwindcss";
@import "tw-animate-css";

body{
  background-color: #FDF0D5;
}

.recharts-wrapper *:focus {
  outline: none;
}

@theme {
  --color-backgroundWhite: #FDF0D5;
  --color-customLightBlue: #669BBC;
  --color-customDarkBlue: #003049;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
